.panel-heading{
	text-align:center;
}

h1{
	color:white;
	background-color:red;
	text-align:center;
	border: 1px solid black;
}
body{
	background:lightgrey;
}
.icon{
	
	
	height:40px;
	width:40px;
}
.panel-body{
	padding-left:25%;
}