.panel-heading{
	text-align:center;
}

h1{
	color:white;
	background-color:red;
	text-align:center;
	border: 1px solid black;
}
body{
	background-color:lightgrey;
}
.icon{
	
	
	height:40px;
	width:40px;
}
.panel-body{
	padding-left:25%;
}






.port{
	width:19%;
	float:left;
	background-color:#4aaaa5;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	
}
